h1 {
  font-family: 'Helvetica', sans-serif;
  color: darkblue;
  size: 200%
    background-color: LightBlue;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  color: darkblue;
  background-color: LightBlue;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  color: black;
  }