<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fwitter</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">

 </head>
 <body>
   <center>
   <h1>Fwitter</h1>
   <h2>Welcome to Fake Twitter<h/2>
     <h2>Here are your most recent Fweets:</h2>
     <h3>Fweets go here</h3> 
     <ul>
       <% @all_tweets.each do |tweet| %>
       <li>Username: <%=tweet.username %> - Message: <%=tweet.message %></li>
       <% end %>
     </ul>
     
     <form action="/new_tweet" method="post">
  Username: <input type="text" name="username"><br>
  Message: <input type="text" name="message"><br>
  <input type="submit" value="Make a new Fweet">
</form>
     
     
     
     <!---create a form using the form tag
     <!---the form needs a method and an action
     <!---the method should be post
     <!---the form needs inputs for username and message
     <!---theaction should be "/new_tweet
     
   </center>
 </body>
</html>